# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
*.pot
*.pyc
*~
.Python

# Virtual environments
venv/
ENV/
.env/
.env

# Django
*.log
*.sqlite3
db.sqlite3
staticfiles/
/media/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
